---
import MainLayout from "../layouts/MainLayout.astro";
import faq from "../faq.json";
---

<style>
	div {
		margin-bottom: 20px;
	}

	div[id^="faq"] h6 {
		font-size: 1.2rem;
	}

	a.link {
		font-size: 1rem;
		margin-left: 10px;
	}
</style>

<MainLayout name="FAQ">
	{
		Object.entries(faq).map(item => (
			<div id={`f-${item[0]}`}>
				<h6>
					<span class="title">{item[1].q}</span>
					<a class="link" href={`#f-${item[0]}`}>
						#
					</a>
				</h6>
				<span
					set:html={item[1].a.replace(/https?:\/\/[^ ]+/g, substr => {
						return `<a class="link" href="${substr}">${substr}</a>`;
					})}
				/>
			</div>
		))
	}
</MainLayout>
